{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'app.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/domine/stylesheet.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.1.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/open-sans/stylesheet.css' %}">
{% endblock css %}

{% block content %}
  <h1 class="event-title">{{ event }}</h1>

  {% if user.is_authenticated %}

    {% for key, data in next_seven_days %}
      <div class="timeofday-wrapper cf{% if not data.attending %} not-attending{% endif %}" data-date="{{ data.date|date:"Y-m-d" }}" data-timeofday="{{ data.timeofday }}"{% if not data.attending %} title="Click to confirm your availability!"{% endif %}>
        <div class="timeofday">
          <span class="textual-date">{{ data.date|date:"l" }} {{ data.timeofday }}</span>
          <br>{{ data.date|date:"N j" }}</div>
        <div class="signups cf">
          {% for signup in data.items %}
            <div class="signup{% if user == signup.attendee %} you{% endif %}" style="width: {{ signup_width }}%;" data-signup="{{ signup.pk }}"{% if user == signup.attendee %} title="Click to remove your confirmation."{% endif %}>
              {% if user == signup.attendee %}YOU{% else %}{{ signup.attendee }}{% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <form method="POST">
      {% csrf_token %}
      <button type="submit" name="_logout">Logout</button>
    </form>

  {% else %}

    <form method="POST">
      {{ form.as_p }}{% csrf_token %}
      <button type="submit" name="_login">Login</button>
    </form>

  {% endif %}
{% endblock content %}

{% block js %}
  {% if user.is_authenticated %}
    <script type="text/javascript" src="{% static 'jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
  {% endif %}
{% endblock js %}