{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'app.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/domine/stylesheet.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.1.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/open-sans/stylesheet.css' %}">
{% endblock css %}

{% block content %}
  <h1 class="event-title">{{ event }}</h1>

  {% for key, data in next_seven_days %}
    <div class="timeofday-wrapper cf">
      <div class="timeofday"><span class="textual-date">{{ data.date|date:"l" }} {{ data.timeofday }}</span><br>{{ data.date|date:"N j" }}</div>
      <div class="signups cf">
        {% for signup in data.items %}
          <div class="signup" style="width: {{ signup_width }}%;">{{ signup.attendee }}</div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock content %}

{% block js %}
  <script type="text/javascript" src="{% static 'app.js' %}"></script>
{% endblock js %}